body{
    height: 100%;
}
.container{
    margin-right: 0px;
    margin-left: 10%;
    margin-top:10px;
    width:100%;
    height:inherit;
}

.text_box{
    
    color:red;
    font-size: small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 50%;
    border: 1px solid lightgray;
    padding:10px;
    height: 650px;
    justify-content: center;
    align-items: center;
    
}

button{
    margin-right: 5px;
}